body{
    margin: 0;
    background-color:black;
    color:darkgoldenrod;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px
    
}

header{
    border-bottom: 3px solid darkgoldenrod;
    width: auto;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
    align-items: center;
    background:linear-gradient(0deg,black,rgb(27, 27, 27));
}

#headerDiv{
    padding: 1rem;
}

h3{
    
    color: darkgoldenrod;
}

main{
    margin: 1rem;
}

#setting{
display: none;
}
