body {
    margin: 0;
    background-color: black;
    color: #B4C8D2;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px
}

header {
    border-bottom: 3px solid #B4C8D2;
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    /* justify-content: flex-start; */
    border-radius: 0 0 20px 20px;
    align-items: center;
    background: linear-gradient(0deg, black, rgb(27, 27, 27));
}

#headerDiv {
    padding: 1rem;
}

h3 {
    margin: 0;
    color: #B4C8D2;
}

main {
    margin: 1rem;
}

#setting {
    background-color: black;
    color: #B4C8D2;
    /* height: 20px; */
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    border: 0;
}

#edit {
    display: none;
}

#URL {
    color: #B4C8D2;
}

#setTime {
    display: flex;
}
